:root{
    --main-color:#BB84E8;
    --nav-color: #BB84E8;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #BB84E8;
    --border: .1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s ease-in;
    scroll-behavior: smooth; 
    scroll-padding-top: 16vh;
}

html {
    font-size: 62.5%;
    overflow-x:  hidden;
}
body{
    background-color: var(--bg-color);
}
section{
    padding: 2rem, 7%;
}
.btn{
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem; 
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}
.title{
    text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), 
    -2px 2px 0 var(--card-color), 2px -2px 0 var(--card-color);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
}
.title span{
    color: var(--main-color);
}
.header{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 16vh;
    /* z-index: 1000; */
}

.header .logo img{
    height: 10rem;
    border-radius: 50%;
    
}

.header .navbar a{
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1rem;
    
}
.header .navbar a:hover{
    color:var(--black);
    border-top: .3rem solid var(--black);
    border-bottom: .3rem solid var(--black);
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.header .icons{
    display: flex;

}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--black);
}
.header .icons .menu-icon{
    display: none;
}

/* Search*/
.header .search-form{
    display: flex;
    align-items: center;
    position: absolute;
    top:115%;
    right: -100%;
    width: 45rem;
    height: 4.5rem;
    background-color: #fff;
    
}
.header .search-form.active{
    right: 7%;
}
.header .search-form input{
    width:100%;
    height: 100%;

    padding: 1rem;
    
    font-size: 1.8;
    color: var(--black);
    text-transform: none;

}

.header .search-form label{
    background-color: #fff;
    color: var(--black);
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;

}

.header .search-form label:hover{
    color: var(--main-color);
}

/*cart section */
.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    background-color: #fff;
    height: 80vh;
    border: solid 1px black;
    padding: 0.8rem;
}

.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container .cart-item{
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    /* border: solid 1px black; */
    position: relative;
    gap: 1rem;
}

.header .cart-items-container a{
    width: 100%;
}

.header .cart-items-container .cart-item img{
    width: 7rem;

}

.header .cart-items-container .cart-item span{
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;

}

.header .cart-items-container .cart-item span:hover{
    color: red;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: .8rem;

}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.3rem;
    color: var(--main-color);

    
}

/*home section*/
.home{
    display: flex;
    align-items: center;
    min-height: 84vh;
    margin-top: 16vh;
    background-color: #ccace6;
    background-image: url("/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.home .hero{
    width: 60rem;
}

.home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .hero p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: #fff;
}

/* cakepops section */
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.cakepops .wrapper .cakepop-card {
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;
}

.cakepops .wrapper .cakepop-card:hover{
    transform: scaleY(1.1);
    background-color: var(--black);
}

.cakepops .wrapper .cakepop-card:hover *:not(a) {
    color: var(--main-color);
}

.cakepops .wrapper .cakepop-card img {
    width: 100%;
    
}

.cakepops .wrapper .cakepop-card h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.cakepops .wrapper .cakepop-card .price {
    color: #fff;
    font-size: 1.8rem;
    padding: .5rem 0;
}

/* cupcake section */

.cupcakes .wrapper .cupcake-card{
    text-align: center;
    background-color: #dfa1c8;
    padding: 2rem ;
    border: var(--border);
}

.cupcakes .wrapper .cupcake-card:hover {
    box-shadow: var(--box-shadow);
}

.cupcakes .wrapper .cupcake-card .icons a{
    border: var(--border);
    height: 5rem;
    width: 5rem;
    color: #fff;
    font-size: 2rem;
    line-height: 5rem;
    margin: 0.3rem;
}

.cupcakes .wrapper .cupcake-card .icons a:hover{
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}
.cupcakes .wrapper .cupcake-card .img{
    padding: 2.5rem 0;

}

.cupcakes .wrapper .cupcake-card .img img{
    height: 20rem;

}

.cupcakes .wrapper .cupcake-card .content h3{
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.cupcakes .wrapper .cupcake-card .content .stars{
    padding: 1.8rem;

}
.cupcakes .wrapper .cupcake-card .content .stars i{
   font-size: 1.7rem;
   color: var(--main-color);
}
.cupcakes .wrapper .cupcake-card .content .price{
    color: #fff;
    font-size: 1.8rem;
}

/* new arrivals */

.new-arrivals .wrapper .card{
    background-color: #dfa1c8;
    border: var(--border);

}

.new-arrivals .wrapper .card .img{
    width: 100%;
}

.new-arrivals .wrapper .card .img img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.new-arrivals .wrapper .card .content{
    padding: 2rem;

}

.new-arrivals .wrapper .card .content a:nth-of-type(1){
    font-size: 2.5rem;
    line-height: 5rem;
    color: var(--black);

}

.new-arrivals .wrapper .card .content p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.new-arrivals .wrapper .card:hover .content p{
    color: var(--black);
}

.new-arrivals .wrapper .card .content .btn{
    transform: scale(0);
}

.new-arrivals .wrapper .card:hover .content .btn{
    transform: scale(1);
}

/* about */

.about .container{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;
}

.about .container .img{
    flex: 1 1 45rem;
}

.about .container .img img{
    width: 100%;
}

.about .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .container .content h3{
    font-size: 3rem;
    color: #fff;
    padding: 1.2rem 0;

}

.about .container .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 2.2rem;
}

/* review  */

.review .wrapper .review-card{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .wrapper .review-card img{
    height: 4rem;

}

.review .wrapper .review-card p{
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: gray;
    padding: 2rem 0;
}

.review .wrapper .review-card:hover p{
    color: var(--black);
}
.review .wrapper .review-card .customer{
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

.review .wrapper .review-card:hover .customer{
    transform: scale(1.1);
}

.review .wrapper .review-card h3{
    padding: 1rem 0rem;
    font-size: 2rem;
    color: #fff;
    text-shadow: --;
    text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), 
    -2px 2px 0 var(--card-color), 2px -2px 0 var(--card-color);
}

.review .wrapper .review-card .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
    padding: .8rem 0;
}

/* contact section */

.contact .content {
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    /* height: 50rem; */
}

.contact .content iframe{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;

}

.contact .content form{
    height: 50rem;
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}

.contact .content form h3{
    text-transform: uppercase;
    color: #fff;
    font-size: 3.5rem;
    padding: 1.5rem 0rem;

}

.contact .content form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: var(--border);
}

.contact .content form .input-box span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .content form .input-box input{
    background-color: var(--black);
    text-transform: none;
    color: #fff;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}

/* footer */

footer{
    background-color: var(--black);
    text-align: center;

}

.footer .social-media{
    padding: 1rem 0;

}

.footer .social-media a{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .5rem;

}

.footer .social-media a:hover{
    background-color: var(--main-color);

}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;

}

.footer .links a:hover{
    background-color: var(--main-color);

}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}